@tailwind base;
@tailwind components;
@tailwind utilities;

/* .card-1:hover {
  cursor: pointer;
} */

#keyboard > div > p {
  background: #e0e0e0;
  border-radius: 7px;
  box-shadow:  5px 5px 13px #aaaaaa,
                -5px -5px 13px #ffffff;
}

@media (min-width: 768px) {
  .card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
  }

  .card-1 {
    width: 40%;
    height: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(82, 82, 82);
    font-family: var(--font-poppins);
  }

  .poppins {
    font-family: var(--font-poppins);
  }

  #testing {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  5px 5px 13px #a6a6a6,
                 -5px -5px 13px #ffffff;
  }

  .neumorphic {
    box-shadow:  5px 5px 13px #a6a6a6,
                 -5px -5px 13px #ffffff;
  }
}